html, body {
    width: 600px;
    height: 100vh;
    padding: 0;
    margin:0;
    font-family: "Open Sans Light", sans-serif;
    font-size: 0.9em;
    font-weight: 300;
}
body {
    width: 600px;
    padding: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
    box-sizing: border-box;
}
.SearchTerm {
    display: flex;
    padding: 0 0 10px 0;
    max-width: 100%;
}
.SearchTerm label,
.SearchTerm div{
    padding: 0 10px 0 0;
    flex:1;
}
.SearchTerm div {
    flex:.3;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 5px;

}
.SearchTerm input {
    width:100%;
    padding: 5px;
    box-sizing: border-box;
}
.SearchTerm div.SearchTerm--delete-container {
    padding-right: 0;
    flex-direction: column-reverse;
    flex:0;
    width: 50px;
}
.SearchTerm--buttons {
    padding: 20px 0 20px 0;
}
.SearchTerm--buttons-top {
    text-align: right;
    padding: 0 0 20px 0;
}