body {
    background-color:  #2b2a33;
    font-family: sans-serif;
}
#popup-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width:200px;
}

#popup-list li button {
    width: 100%;
    display: block;
    background: transparent;
    border: none;
    border-radius: 3px;
    color:#fff;
    padding: .3rem;
    text-align: left;
}

#popup-list li button:hover {
    background: rgba(255,255,255,.6);
    color: #000;
}

#popup-list li button:disabled {
    color:#ccc;
    text-decoration:line-through;
}

#popup-list li.error {
    color:#c77f7f;
}